[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
django = "*"
datetime = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-versatileimagefield = "*"
django-filter = "*"
drf-flex-fields = "*"
# python-magic-bin = "*"
razorpay = "*"
python-magic = "*"
twilio = "*"
setuptools = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
