djangorestframework = "*"
django-cors-headers = "*"
django = "*"
datetime = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-versatileimagefield = "*"
django-filter = "*"
drf-flex-fields = "*"
python-magic-bin = "*"
razorpay = "*"
python-magic = "*"
twilio = "*"
